@import "../style/variables";

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: $grid-gap;
  margin: $grid-gap;

  @media (max-width: $breakpoint-mobile) {
    gap: $grid-gap-mobile;
    margin: $grid-gap-mobile;
  }

  .product-card {
    display: flex;
    flex-direction: column;

    border: 2px solid #CCC;
    border-radius: 0.5rem;
    background-color: #f6f6f6;

    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 10px 10px 5px #eaeaea;
    }

    &__header {
      flex-grow: 0;
      display: flex;
      padding: 0.2rem;
    }

    &__product-name {
      flex-grow: 1;
      font-weight: bold;
    }

    &__model-selector {
      background-color: transparent;
      border: none;
      font-weight: bold;
      width: 7rem;
      text-align: right;
    }

    &__body {
      min-height: 18rem;
      flex-grow: 1;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: background-image 1s ease;
      background-blend-mode: multiply;

      @media (max-width: $breakpoint-mobile) {
        min-height: 15rem;
      }

      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &__price {
      width: 100%;
      padding: 0.2rem;

      color: white;
      font-style: italic;
      text-align: right;
      background: linear-gradient(90deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.4));
    }
  }
}

.error {
  font-weight: bold;
  color: red;
}
